<nav class="navbar navbar-expand-lg navbar-light bg-green">
    <div class="container-fluid">
        <a class="navbar-bran  "class="text-danger"  href="">NABVAR</a>


   
     
        <div class="collapse navbar-collapse" id="navbarNav" class="text-center mr-5 " >
            <ul class="navbar-nav ">
                <li class="nav-item mr-5">
                    <a  class="text-center " class="nav-link active" aria-current="page" routerLink="/list">Affiche Liste</a>
                </li>
                <li class="nav-item mr-5">
                    <a   class="text-center " class="nav-link active" aria-current="page" routerLink="/ajout">Ajout Produit</a>
                </li>

                
            </ul>
        </div>
    </div>


</nav>