<div>
    <h1 class=" mt-5 text-center " >UPDATE</h1>

</div>

<div class="row mt-5 m-5">

    <div class="col-2">

        <input  type="text" class="form-control" m-1 placeholder="name">
    </div>

    <div class="col-2">
        <input  type="text" class="form-control" m-1 placeholder="about">
    </div>
    
    <div class="col-2">
        <input  type="text" class="form-control" m-1 placeholder="prix">
    </div>

    
    <div class="col-2">
        <input  type="text" class="form-control" m-1 placeholder="image url">
    </div>
    

    <div class="col-2">
       <button (click)="updateProd()" class="btn form-control text-light">Update</button>
    </div>
</div>

